* {
margin: 0;
padding: 0;
box-sizing: border-box;    
}

img {
    width: 100%;
}

a{
text-decoration: none;    
}



body {
font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 1px;
}

.first-screen {
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207,0,99,0)  100%) #CF0063; border-radius: 0px;  
    }
    
    .header__container {
width: 100%;
max-width: 1152px;
margin: 0 auto;
    }

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__logo{
width: 120px;
justify-content: space-between;
}


.header-menu {
    display: flex;
 list-style: none;
 padding: 0px 15px;
}




.header-menu__link {
    text-decoration: none;
    color:#FFFFFF;
    margin-left: 30px;
}

.first-content {
display: flex;
align-items: center;
padding-top: 60px;
min-height: 800px;
}



.first-content__title{
font-size: 80px;
line-height: 80px;
color: #FFFFFF;
}


.first-content__subtitle{
    font-size: 30px;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 10px;
}

.first-content__btn{
    display: inline-block;
padding: 20px 40px;
background: #FC0A7E;
border-radius: 3px;
margin-top: 25px;
}
.first-content_img {
    width: 652px;
    position: absolute; 
    left: 54.67%;
    right: 3.06%;
    top: 120px;
}
@media (max-width:1336px) {
    .first-content_img {
    width: 400px;
    bottom: 30%;
    right: 0px;
    }
    .first-content_text {
         width: 400px;
    }
    .container {
    padding: 0px 5%;
    } 
}
.first-content_title {
     font-size: 60px;
}


.first-content_subtitle {
     font-size: 20px;
}


@media (max-width:720px) {
 .first-content_img {
position: relative;
}


.first-content {
    flex-direction: column;
    align-content: center;
}

.body-bg {
Width:1440px; 
height: 900px;
left: 0%;
right: 0%;
position: absolute;
background-color: #1B1B1B;
border-radius: 0px;

}

}
@media  (max-width:618px) {
    .header-menu{
        display: none;
    }
    .humburger-menu {
        display: block;
    }
}


.heading {
    position: absolute;
    width: 228px;
    height: 20px;
    left: calc(50% - 228px/2);
    top: 400px;

    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #A8A8A8;
}

.second-content__img{
position: relative;
}


.second-content__subtitle{
    position: absolute;
width: 607px;
height: 96px;
left: calc(50% - 607px/2 + 0.5px);
top: 70px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 48px;
/* or 126% */

text-align: center;

color: #FFFFFF;
     
}

.sec-content__img{
    position: relative;
    width: 1200px;
    height: 656px;
    left: calc(50% - 1200px/2);
    top: 190px;
    background-color:#1B1B1B;
    ;
    border-radius: 0px;
}

/* .third-content{
    position: relative;
width: 1440px;
height: 8194px;

background: #FFFFFF;
} */

.text-one__o{
position: relative;
height: 20px;
left: 21%;
right: 0%;
top: 250px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

letter-spacing: 2px;
text-transform: uppercase;

color: #A8A8A8;

    


}

.text-one__n{
    position: relative;
    height: 96px;
    width: 303px;
    left: 20.89%;
    right: 20%;
    top: 290px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    /* or 126% */
    
    
    color: #000000;
    

}

.text-one__e{
    position: relative;
    height: 90px;
    width: 339px;
    left: 20.89%;
    right: 19.11%;
    top:300px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    
    
    color: #6B6B6B;


}

.img-one{
    position: relative;
width: 341px;
height: 637px;
left: calc(50% - 9px);
top: calc(50% - 637px/2);

background: url(.png);
border-radius: 0px;
}

.container-two{
    display: flex;
}

.img-two{
    position: relative;
    width: 386px;
    height: 469px;
    left: calc(70% - 854px);
    top: calc(50% - 469px/2);
    background: url(.png);
    border-radius: 0px
}

.text-two{
    position: relative;
    width: 400px;
    left: calc(79% - 800px);
    top: 100px;

}
.text-two__t{
    position: relative;
    height: 20px;
    left: calc(227% - 854px);
    right: 0%;
    top: 0px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
}




.text-two__w{
    position: relative;
    height: 48px;
    left: 12.89%;
    right: 39.56%;
    top: 45px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    /* identical to box height, or 126% */
    
    
    color: #000000;

}

.text-two__o{
    position: relative;
    height: 20px;
    left: 12%;
    right: 0%;
    top: 114px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
}



.text-three__t{
    position: relative;
    height: 20px;
    left: 27%;
    right: 0%;
    top: 235px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #A8A8A8;
    
}

.text-three__h{
    position: relative;
    height: 90px;
    width: 309px;
    left: 26.89%;
    right: 19.11%;
    top: 277px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #6B6B6B;
}

.text-three__r{
    position: relative;
    height: 90px;
    width: 309px;
    left: 26.89%;
    right: 19.11%;
    top: 277px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;



}

.img-three{
    position: relative;
    width: 341px;
    height: 508px;
    left: calc(50% - 9px);
    top: calc(50% - 508px/2);
    
    background: url(.png);
    border-radius: 0px;

}

.section{
    display: flex;
}



 .burger-section{
    position: relative;
    Width:78.79px;
    Height:34.68px;
    left: 248px;
    right: 1.52%;
    top: 0%;
    bottom: 0.9%;
}

.burger-one{
    position: relative;
width: 181px;
height: 24px;
left: calc(50% - 181px/2 - 0.5px);
top: 40px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

text-align: center;

color: #000000;

}

.burger-two{
    position: relative;
    width: 371px;
    height: 90px;
    left: calc(50% - 371px/2 - 0.5px);
    top: 116px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    
    text-align: center;
    
    color: #6B6B6B;   
}

.vilka-section{
    position: relative;
    Width:72.57px;
    Height:34.35px;
    left: 683px;
    right: 1.93%;
    top: 0%;
    bottom: 1.85%;
    
}

.vilka-section__one{
    position: relative;
width: 130px;
height: 24px;
left: calc(50% - 130px/2);
top: 17px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

text-align: center;

color: #000000;
}

.vilka-section__two{
    position: relative;
width: 371px;
height: 90px;
left: calc(50% - 371px/2 - 0.5px);
top: 116px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */

text-align: center;

color: #6B6B6B;

}

.diagrama-section{
    position: relative;
    Width:39.15px;
    Height:35px;
    left: 1059px;
    right: 2.12%;
    top: 0%;
    bottom: 0%;
    
} 

.diagrama-section__one{
    position: relative;
    width: 151px;
    height: 24px;
    left: calc(50% - 151px/2 + 0.5px);
    top: 75px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    
    text-align: center;
    
    color: #000000;
       

}

.diagrama-section__two{
    position: relative;
    width: 371px;
    height: 90px;
    left: calc(50% - 371px/2 + 0.5px);
    top: 116px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    
    text-align: center;
    
    color: #6B6B6B;
    

}



.four-sections{
display: flex;
height: 200px;


}

.dvk-one{
    position: relative;
    width: 129px;
    height: 90px;
    left: 170px;
    top: 400px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 59px;
    line-height: 90px;
    /* identical to box height, or 153% */
    
    text-align: center;
    
    color: #333333;
}

.dvk-two{
    position: relative;
    width: 163px;
    Size:18px;
    height: 34px;
    left: 160px;
    top: 400px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    
    text-align: center;
    
    color: #000000;

}

.eif-one{
    position: relative;
width: 66px;
height: 90px;
left: 525px;
    top: 400px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 59px;
line-height: 90px;
/* identical to box height, or 153% */

text-align: center;

color: #333333;

}

.eif-two{
    position: relative;
width: 193px;
height: 24px;
left: 470px;
    top: 400px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

text-align: center;

color: #000000;
}

.three-one{
    position: relative;
width: 120px;
height: 90px;
left: 822px;
top: 400px;


font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 59px;
line-height: 90px;
/* identical to box height, or 153% */

text-align: center;

color: #333333;
}

.three-two{
    position: relative;
width: 129px;
height: 24px;
left: 818px;
    top: 400px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

text-align: center;

color: #000000;

}

.tch-one{
    position: relative;
width: 100px;
height: 90px;
top: 400px;
    left: 1156px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 59px;
line-height: 90px;
/* identical to box height, or 153% */

text-align: center;

color: #333333;

}

.tch-two{
    position: relative;
width: 106px;
height: 24px;
top: 400px;
    left: 1153px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

text-align: center;

color: #000000;

}

.img-four{
    position: relative;
width: 519px;
height: 414px;
left: calc(50% - 9px);
top: calc(50% - 414px/2);

background: url(.jpg);
border-radius: 0px;

}

.text-four__f{
    position: relative;
    height: 20px;
    left: 22%;
    right: 0%;
    top: 341px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #A8A8A8;

}

.text-four__o{
    position: relative;
    width: 440px;
    height: 96px;
    left: 21.89%;
    right: 29.78%;
    top: 367px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    /* or 126% */
    
    
    color: #000000;
}

.text-four__u{
    position: relative;
    width: 329px;
    height: 210px;
    left: 21.89%;
    right: 13.78%;
    top: 390px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    
    
    color: #6B6B6B;

}

.img-five{
    position: relative;
    width: 519px;
    height: 414px;
    left: calc(43% - 519px/2 + 0.5px);
    top: 187px;
    
    background: url(.jpg);
    border-radius: 0px;

}


.text-five__f{
    position: relative;
    height: 20px;
    left: 63%;
    right: 0%;
    top: -198px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #A8A8A8;   

}


.text-five__i{
    position: relative;
    height: 48px;
    left: 62.89%;
    right: 19.56%;
    top: -150px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    /* identical to box height, or 126% */
    
    
    color: #000000;
    

}


.text-five__v{
    position: relative;
    width: 328px;
    height: 210px;
    left: 62.89%;
    right: 13.78%;
    top: -113px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    
    
    color: #6B6B6B;
    

}

.dvdv{
    position: relative;
    left: 48.08%;
    width: 54px;
    right: -0.13%;
    top: 54px;
    bottom: 5.5%;
    
  

}



.text-six{
     position: relative;
    width: 699px;
    height: 200px;
    left: calc(50% - 700px/2);
    top: 116.76px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */
    
    text-align: center;
    
    color: #6B6B6B; 
    
}

.seven-img{
    position: relative;
    height: 518px;
    left: 0%;
    right: 0%;
    top: 500px;
    
    background: url(.jpg);
    border-radius: 0px;
  
}

.two-buttons {
    display: flex;
}

.fourth-content{
    position: relative;
    height: 474px;
    left: 0%;
    right: 0%;
    top: 666px;
    
    background: linear-gradient(276.18deg, #6E28B1 0%, rgba(0, 0, 0, 0) 100%), #FC0A7E;
    border-radius: 0px;
  
    }

.fourth-content-heading{
    position: absolute;
    width: 395px;
    height: 48px;
    left: calc(50% - 395px/2);
    top: 138px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    /* identical to box height, or 126% */

    text-align: center;

    color: #FFFFFF;
}

.logos {
    position: absolute;
height: 35px;
left: 11.11%;
right: 11.11%;
top: calc(50% - 35px/2);

background: url(.png);
border-radius: 0px;
}

.btn-one{
    display: inline-block;
    position: relative;
    width: 190px;
    height: 66px;
    left: -118%;
    right: 0%;
    top: 240px;
    
    background: #FC0A7E;
    border-radius: 3px;


}

.fourth-content__btn{
    position: relative;
    width: 110px;
    height: 26px;
    left: calc(50% - 110px/2);
    top: 20px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    text-align: center;
    text-decoration: none;
    
    color: #FFFFFF;  
}




.btn-two{
    position: relative;
    width: 91px;
    height: 26px;
    left: calc(130% - 91px/2);  
    top: 195px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
 /* identical to box height, or 162%  */

text-align: center;

color: #FFFFFF;

} 




.hvilki{
    position: relative;
    width: 100%;
    height: 0px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 97.33%;
    
    background: #000000;
    opacity: 1.25;
   
    
}

.fifth-content__title{
    position: relative;
    width: 465px;
    height: 48px;
    left: calc(50% - 465px/2);
    top: 850px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    /* identical to box height, or 126% */
    
    text-align: center;
    
    color: #FFFFFF;
    
}


.fifth-content__subtitle{
    position: relative;
    width: 334px;
    height: 30px;
    left: calc(50% - 334px/2 - 0.5px);
    top: 880px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    text-align: center;
    
    color: #6B6B6B;
    

}


.fifth-content__email{
    position: relative;
    width: 300px;
    height: 70px;
    left: 38.11%;
    right: 33.01%;
    top: 950px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 0px #FC0A7E;
    border-radius: 3px 0px 0px 3px;
    
}

.fifth-content__sub{
    position: relative;
    width: 153px;
height: 70px;
left: 53.9%;
right: -0.11%;
top: 880px;

background: #FC0A7E;
border-radius: 0px 3px 3px 0px;
}

.fifth-content__btn{
    position: relative;
width: 153px;
height: 26px;
left: 26px;
top: 22.02px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
}

.fifth-content__subtn{
    position: relative;
width: 153px;
height: 26px;
left: 40px;
top: 22.02px;

font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;

}

.fifth-content__img{
    position: relative;
    width: 136px;
    height: 104px;
    left: calc(50% - 136px/2);
    top: 1100px;
    
    background: url(.png);
    border-radius: 0px;

}


.footer-menu{
    display: flex;
 list-style: none;
}

.footer-menu__link1{
    position: relative;
    width: 30px;
    height: 20px;
    left: 700px;
    top: 1200px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    /* identical to box height, or 182% */
    
    text-align: center;
    
    color: #6B6B6B;
}

.footer-menu__link2{
    position: relative;
    width: 55px;
    height: 20px;
    left: 730px;
    top: 1200px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    text-align: center;
    
    color: #6B6B6B;
    
}

.footer-menu__link3{
    position: relative;
    width: 54px;
    height: 20px;
    left: 760px;
    top: 1200px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    text-align: center;
    
    color: #6B6B6B;
    

}

.footer-menu__link4{
    position: relative;
    width: 38px;
    height: 20px;
    left: 790px;
    top: 1200px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    text-align: center;
    
    color: #6B6B6B;
    

}

.footer-menu__link5{
    position: relative;
    width: 103px;
    height: 20px;
    left: 820px;
    top: 1200px;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    text-align: center;
    
    color: #6B6B6B;
    
}

.footer-menu__link6{
    position: relative;
    width: 115px;
    height: 20px;
    left: 850px;
    top: 1200px;
    
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    text-align: center;
    
    color: #6B6B6B;
    
}

.social-media{
    display: flex;
}

.black-bg-five{
    height: 463px;
    left: 0%;
    right: 0%;
    top: 0px;
    
    background: #1B1B1B;
    border-radius: 0px;


}


